﻿@model LanguageInstituteTermModel
<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="LanguageId" />
                        </div>
                        <div class="col-md-9">
                            <nop-select asp-for="LanguageId" asp-items="Model.AvailableLanguages" asp-required="true" />
                            <span asp-validation-for="LanguageId"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="LangWeeklyDays" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="LangWeeklyDays" />
                            <span asp-validation-for="LangWeeklyDays"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="LangWeeklyHours" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="LangWeeklyHours" />
                            <span asp-validation-for="LangWeeklyHours"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="LangPrerequisite" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="LangPrerequisite" />
                            <span asp-validation-for="LangPrerequisite"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="LangCost" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="LangCost" />
                            <span asp-validation-for="LangCost"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="LangDescription" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="LangDescription" />
                            <span asp-validation-for="LangDescription"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="LangContacts" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="LangContacts" />
                            <span asp-validation-for="LangContacts"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="LangCapacity" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="LangCapacity" />
                            <span asp-validation-for="LangCapacity"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="LangSexuality" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="LangSexuality" />
                            <span asp-validation-for="LangSexuality"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="LangSalaryMethod" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="LangSalaryMethod" />
                            <span asp-validation-for="LangSalaryMethod"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
